.ahah{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.btn{
    background-color: grey;
    color: blue;
    width: 120px;
    height: 35px;
    border: 0px;
    border-radius: 4px;
}

table{
    line-height: 38px;
}
