
body{
            
			margin-left: 15%;
            margin-right: 15%;
        }
        .ead{
            float: left;
            margin-top: 3%;
            margin-left: 5%;

        }
        .table{
            float: right;
            margin-top: -10%;
            
        }
        .form{
            font-size: 20px;
			font-family: "Times New Roman", Times, serif;
            margin-left: 5%;
        
        }
        .button{
          background-color:blue;
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin-top: 5%;
		  
        }