.satu {
    position: center;
    background-color: blue;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;;
    padding: 50px;

}

.kedua{
    position: left;
    background-color:darkgrey;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;;
    padding: 50px;
}

.ketiga{
    position: center;
    background-color:;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;;
    padding: 50px;
}

.keempat{
    position: right;
    background-color: blue;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 10px;;
    padding: 50px;
}